*
{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Black.ttf);
}
body
{
    font-family: Raleway;
    font-size: 200px;
    background-color: grey;
}
tag1 
{
    font-family: Raleway;
    font-size: 100px;
}
body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("img_girl.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
